/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-green: #27ae60;
  --vt-c-green-dark1: #249f58;
  --vt-c-green-dark2: #1a7740;

  --vt-c-red: #ff3838;

  --vt-c-circle-light-bg: rgb(225, 225, 225);
  --vt-c-circle-light-text: rgb(41, 41, 41);
  --vt-c-circle-dark-bg: rgb(135, 135, 135);
  --vt-c-circle-dark-text: rgb(25, 25, 25);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-circle: var(--vt-c-circle-light-bg);
  --color-circle-text: var(--vt-c-circle-light-text);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color-button: var(--vt-c-green);
  --color-button-hover: var(--vt-c-green-dark1);
  --color-button-focus: var(--vt-c-green-dark2);
  --color-button-text: var(--vt-c-white);

  --color-input-background: var(--vt-c-white);
  --color-input-text: var(--vt-c-text-light-1);
  --color-input-placeholder: var(--vt-c-text-light-2);
  --color-input-border: var(--vt-c-circle-light-bg);
  --color-input-focus: var(--vt-c-green);
  --color-input-focus-border: var(--vt-c-green);

  --color-error: var(--vt-c-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-circle: var(--vt-c-circle-dark-bg);
    --color-circle-text: var(--vt-c-circle-dark-text);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --color-button: var(--vt-c-green);
    --color-button-hover: var(--vt-c-green-dark1);
    --color-button-focus: var(--vt-c-green-dark2);
    --color-button-text: var(--vt-c-text-dark-1);

    --color-input-background: var(--vt-c-black-mute);
    --color-input-text: var(--vt-c-text-dark-1);
    --color-input-placeholder: var(--vt-c-text-dark-2);
    --color-input-border: var(--vt-c-circle-dark-bg);
    --color-input-focus: var(--vt-c-green);
    --color-input-focus-border: var(--vt-c-green);

    --color-error: var(--vt-c-red);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
